@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Address Book!</h1>
    <p>An ASP.NET Core MVC App that helps you store all your contacts in one place.</p>
    <p>Navigate to "Contacts" at the top to get started.</p>
</div>

